{% extends 'base.html.twig' %}

{% block title %}Imageur{% endblock %}

{% block body %}
<style>
    .example-wrapper {  display:flex; flex-direction: row; justify-content: space-around;}
    h1 {text-align: center;}
  
</style>

<div>
   
    <h1>Imageur, mon mini CMS pour site perso</h1>
    <div class="example-wrapper">
    <div>
    <h2>Eléments communs</h2>
     <p>  <a href="{{ path('adress_index') }}">Configurer mes adresses </a></p>
     <p>  <a href="{{ path('rubrique_index') }}">Gérer mes rubriques</a></p>
      <p>  <a href="{{ path('aside_index') }}">Gérer mes à-côté</a></p>
       <p>  <a href="{{ path('home_page_index') }}">Choisir et gérer ma page d'accueil</a></p>

       <br/><p> <a href="{{ path('site') }}">Générer tous les articles en base!</a></p>
  
 <p>  <a href="{{ path('javascript_index') }}">Gérer mes fichiers javascript</a></p>
 <p>  <a href="{{ path('css') }}">Mettre à jour le css</a></p></div><div>
<h2>Articles et leurs composants</h2>


  <p>  <a href="{{ path('article_index') }}">Gérer mes articles</a></p>
      <p>  <a href="{{ path('section_index') }}">Gérer mes sections</a></p>
<p>  <a href="{{ path('image_index') }}">Gérer mes images</a></p>
 <p>  <a href="{{ path('slider_index') }}">Gérer mes carrousels</a></p></div><div>

<h2>Le résultat</h2>

  <p>  <a href="{{ path('generated_index') }}">Voir les pages générées</a></p>

</div>
    
</div>
</div>
{% endblock %}
