{% extends 'base.html.twig' %}

{% block title %}Aside index{% endblock %}

{% block content %}
    <h1>Index des à-côté</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nom</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for aside in asides %}
            <tr>
                <td>{{ aside.id }}</td>
                <td>{{ aside.titre }}</td>
                <td>{{ aside.nom }}</td>
                <td>{{ aside.contenu }}</td>
                <td>
                    <a href="{{ path('aside_show', {'id': aside.id}) }}">{{ include('./_showicone.html.twig')}}</a>
                    <a href="{{ path('aside_edit', {'id': aside.id}) }}">{{ include('./_editicone.html.twig')}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'à-côté enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('aside_new') }}">Ajouter un à-côté</a>
    {{ include('./_crediticones.html.twig')}}
    
{% endblock %}
