{{ form_start(form) }}
  <label> Téléchargez l'image: </label>
    {{ form_widget(form) }}
    {% if app.request.attributes.get('_route') == 'image_edit' %}
      {%  if image.pour == 'carrousel' %}
        <img src="{{ asset('/uploads/petites_images/'~image.nom) }}"  width="150">
      {% else %}
      <img src="{{ asset('/uploads/'~image.nom) }}"  width="300">
      {% endif %}
    {% endif %}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
