{{ form_start(form) }}
 
    {{ form_widget(form) }}
     <label> Téléchargez l'image: </label>
    {% if app.request.attributes.get('_route') == 'image_edit' %}
      {%  if image.pour == 'carrousel' %}
        <img src="{{ petites_images~image.nom}}"  width="150">
      {% else %}
      <img src="{{ moyennes_images~image.nom}}"  width="300">
      {% endif %}
    {% endif %}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
