{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block content %}
    <h1>Index des images</h1>

      <p>  <a href="{{ path('image_new') }}">Ajouter une image</a></p>

    <table class="table">
        <thead>
            <tr>
               
                <th>Nom</th>
                <th>Alt</th>
                <th>Légende</th>
                <th>Usage</th>
                 <th>Rang</th>
                <th>Vignette</th>
                  <th>Image</th>
                <th>actions</th>
              
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
               
                <td>{{ image.nom }}</td>
                <td>{{ image.alt }}</td>
                <td>{{ image.legend }}</td>
                <td>{{ image.pour}}</td>
                 <td>{{ image.rang}}</td>
                 <td>{% if image.vignette %} oui {% else %} non {% endif %}</td>
                 <td>{% if image.vignette %}<img src="{{ petites_images~image.nom}}" width="60px" height="40px">{% else %} <img src="{{ moyennes_images~image.nom}}" width="60px" height="40px">{% endif %}</td>
                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">  {{ include('./_showicone.html.twig')}}</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">  {{ include('./_editicone.html.twig')}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'images enregistrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


      {{ include('./_crediticones.html.twig')}}
    
{% endblock %}
