{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
 <a href="{{ path('home') }}">Accueil</a>
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Alt</th>
                <th>Legend</th>
                <th>Usage</th>
                <th>Vignette</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.nom }}</td>
                <td>{{ image.alt }}</td>
                <td>{{ image.legend }}</td>
                <td>{{ image.pour}}</td>
                 <td>{% if image.vignette %} oui {% else %} non {% endif %}</td>
                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
