{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block content %}
    <h1>Image</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ image.nom }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ image.alt }}</td>
            </tr>
            <tr>
                <th>Legend</th>
                <td>{{ image.legend }}</td>
            </tr>
            <tr>
            <th>Vignette</th>
           
              <td>{% if image.vignette %} oui {% else %} non {% endif %}</td>
              </tr>
            <tr>
                <th>Usage</th>
                <td>{{ image.pour }}</td>
            </tr>
            {% if image.section %}
            <tr>
                <th>Section</th>
                <td>{{ image.section.titre }}</td>
            </tr>
            {% endif %}
             <tr>
                <th>Rang</th>
                <td>{{ image.rang }}</td>
            </tr>
        </tbody>
    </table>
      {%  if image.pour == 'carrousel' %}
        <img src="{{ petites_images~image.nom}}"  width="150">
      {% else %}
      <img src="{{ moyennes_images~image.nom }}"  width="300">
      {% endif %}

    <a href="{{ path('image_index') }}">Retour à la liste</a>

    <a href="{{ path('image_edit', {'id': image.id}) }}">Modifier</a>

    {{ include('image/_delete_form.html.twig') }}
  
{% endblock %}
