{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
<article>
    <h1>Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section.id }}</td>
            </tr>
              <tr>
                <th>Article</th>
                <td>{{ section.article.titre }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ section.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ section.contenu }}</td>
            </tr>
             <tr>
                <th>Rang dans l'article</th>
                <td>{{ section.rang }}</td>
            </tr>
        </tbody>
    </table>
<p>
    <a href="{{ path('section_index') }}">retour à la liste</a>

    <a href="{{ path('section_edit', {'id': section.id}) }}">Modifier</a>

      <a href="{{ path('section_genere', {'id': section.id}) }}">Générer la section</a></p>

    {{ include('section/_delete_form.html.twig') }}
    </article>
{% endblock %}
