{% extends 'base.html.twig' %}

{% block title %}CSS{% endblock %}

{% block content %}
    <h1>CSS</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ css.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ css.nom }}</td>
            </tr>
             <tr>
                <th>Couleur du fond</th>
                <td bgcolor="#{{css.couleurFond}}"></td>
            </tr>
            <tr>
                <th>Couleur du texte</th>
                <td bgcolor="#{{css.couleurTexte}}"></td>
            </tr>
            <tr>
                <th>Couleur de l'à-côté</th>
                <td bgcolor="#{{css.couleurAcote}}"></td>
            </tr>
            <tr>
                <th>Couleur Titre 1</th>
                <td bgcolor="#{{css.couleurTitre1}}"></td>
            </tr>
             <tr>
                <th>Couleur Titre 2</th>
                <td bgcolor="#{{css.couleurTitre2}}"></td>
            </tr>
             <tr>
                <th>Couleur de fond du sommaire</th>
                <td bgcolor="#{{css.couleurFondSommaire}}"></td>
            </tr>
            <tr>
                <th>Couleur du texte du sommaire</th>
                <td bgcolor="#{{css.couleurTexteSommaire}}"></td>
            </tr>
                <tr>
                <th>Couleur des liens</th>
                <td bgcolor="#{{css.couleurLiens}}"></td>
            </tr>
              <tr>
                <th>Couleur des liens du sommaire</th>
                <td bgcolor="#{{css.couleurLiensSommaire}}"></td>
            </tr>
              <tr>
                <th>Couleur des liens visités</th>
                <td bgcolor="#{{css.couleurLiensVisites}}"></td>
            </tr>
              <tr>
                <th>Couleur des liens visités du sommaire</th>
                <td bgcolor="#{{css.couleurLiensVisitesSommaire}}"></td>
            </tr>
             <tr>
                <th>Couleur du texte de l'à-côté</th>
                <td bgcolor="#{{css.couleurTexteAcote}}"></td>
            </tr>
             <tr>
                <th>Couleur du titre de l'à-côté</th>
                <td bgcolor="#{{css.couleurTitreAcote}}"></td>
            </tr>
        </tbody>
          <tbody>
           
             <tr>
                <th>Police du texte</th>
                <td font="{{css.policeTexte}}">C'est bien ça?</td>
            </tr>
            <tr>
                <th>Police du titre 1</th>
                <td> <font face="{{css.policeTitre1}}">C'est bien ça?</font></td>
            </tr>
           <tr>
                <th>Police du titre 2</th>
                 <td> <font face="{{css.policeTitre2}}">C'est bien ça?</font></td>
            </tr>
            <tr>
                <th>Police du titre 3</th>
                 <td> <font face="{{css.policeTitre3}}">C'est bien ça?</font></td>
            </tr>
              <tr>
                <th>Structure de la page</th>
                 <td>{{css.structure}}</td>
            </tr>
            
          
        </tbody>
    </table>

    <p> <a href="{{ path('css_index') }}">Retour à la liste</a></p>

    <p> <a href="{{ path('css_edit', {'id': css.id}) }}">Modifier</a></p>

    <p>En cas de modification, les actions suivantes sont à effectuer dans l'ordre!</p>

     <p> <a href="{{ path('css_colors', {'id': css.id}) }}">Générer le scss des couleurs (faire npm run dev pour appliquer!)</a></p>

     <p>  <a href="{{ path('css_fonts', {'id': css.id}) }}">Ou celui des familles de polices (faire npm run dev pour appliquer!)</a></p>

     <p>      <a href="{{ path('css_structure', {'id': css.id}) }}">Ou celui de la structure de la page (faire npm run dev pour appliquer!)</a></p>

     <p><a href="{{ path('css_copy', {'id': css.id}) }}">Copier build/app.css dans ce fichier</a></p>

      <p>  <a href="{{ path('css_articles', {'id': css.id}) }}">Appliquer ce style à tous les articles, <em>à la place</em> du style précédent</a> (n'oubliez pas de re-générer les articles ensuite!)</p>

        <p> <a href="{{ path('css_duplicate', {'id': css.id}) }}">Dupliquer ce style</a></p>

    {{ include('css/_delete_form.html.twig') }}
{% endblock %}
