{% extends 'base.html.twig' %}

{% block title %}adress index{% endblock %}

{% block content %}
    <h1>Index des adresses</h1>
    <p>   <a href="{{ path('adress_new') }}">Ajouter une adresse</a> (si vous voulez que le programme la prenne en compte, il faudra vous en occuper)</p>
    <p>Adresse physique: emplacement du disque dur ou devra être généré tel type de fichier an attendant de le mettre en ligne.<br/>
     <p>URL: le lien qui permet de visionner le fichier généré.<br/>
       <p>Relative accueil: pour générer les liens de navigation de la page d'accueil (index.php qui se trouve en principe à la racine du site). Cette adresse est relative pour rester valable sur le site en ligne.<br/>
         <p>Relative fichiers: pour générer les liens de navigation des articles.<br/>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Physique</th>
                <th>Url</th>
                <th>Relative_accueil</th>
                <th>Relative_fichiers</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td>{{ adress.id }}</td>
                <td>{{ adress.nom }}</td>
                <td>{{ adress.physique }}</td>
                <td>{{ adress.url }}</td>
                <td>{{ adress.relativeAccueil }}</td>
                <td>{{ adress.relativeFichiers }}</td>
                <td>
                    <a href="{{ path('adress_show', {'id': adress.id}) }}"> {{ include('./_showicone.html.twig')}}</a>
                    <a href="{{ path('adress_edit', {'id': adress.id}) }}"> {{ include('./_editicone.html.twig')}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'adresses enregistrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
   {{ include('./_crediticones.html.twig')}}
   
{% endblock %}
