<div class="element" id="som"> <nav  class=sommaire id="flexnav"> <ul><h1>Elements communs</h1>

 <li>  <a href="{{ path('adress_index') }}">Configurer mes adresses </a></li>
     <li>  <a href="{{ path('rubrique_index') }}">Gérer mes rubriques</a></li>
      <li>  <a href="{{ path('aside_index') }}">Gérer mes à-côté</a></li>
        <li>  <a href="{{ path('foot_index') }}">Gérer mes pieds-de-pages</a></li>
       <li>  <a href="{{ path('home_page_index') }}">Choisir et gérer ma page d'accueil</a></li>

       <br/><li> <a href="{{ path('site') }}">Générer tous les articles en base!</a></li>
  
 <li>  <a href="{{ path('javascript_index') }}">Gérer mes fichiers javascript</a></li>
 <li>  <a href="{{ path('css_index') }}">Gérer mes fichiers css</a></li></ul>
<ul><h1>Articles et leurs composants</h1>
 <li>  <a href="{{ path('article_index') }}">Gérer mes articles</a></li>
      <li>  <a href="{{ path('section_index') }}">Gérer mes sections</a></li>
<li>  <a href="{{ path('image_index') }}">Gérer mes images</a></li>
 <li>  <a href="{{ path('slider_index') }}">Gérer mes carrousels</a></li></ul>
 <ul><h1>Le résultat</h1>
<li><a href="{{ path('generated_index') }}">Voir les pages générées</a></li>
</ul>  </nav></div>