<form name="add" action="{{ path('slider_add_images', {slider: slider.id})}}" method="post">
<h2>Images disponibles</h2> 
       <div class='carrousel'>
      
       {% for image in images %}
          
            <figure>
                <img src="/uploads/petites_images/{{image.nom}}" alt="{{image.alt}}" width="150">
                <figcaption>{{ image.legend }}</figcaption>
               
			
                <input type="checkbox" value="{{image.id}}" name="images[]"/>
                
               
            </figure>
         
           
        {% endfor %}
         </div>
           <button class="btn" type="submit">ajouter les images cochées</button>
</form>