<form name="rem" action="{{ path('slider_remove_images', {slider: slider.id})}}" method="post">
 
      <h2>Images déjà dans le carrousel</h2>  
         <div class='carrousel'>
        {% for image in slider.images %}
         
            <figure>
                <img src="/uploads/petites_images/{{image.nom}}" alt="{{image.alt}}" width="150">
                <figcaption>{{ image.legend }}</figcaption>
                 <input type="checkbox" value="{{image.id}}" name="images[]"/>
            </figure>
         
        {% endfor %}
           </div>
           <button class="btn" type="submit">enlever les images cochées du carrousel</button>
  
</form>