{% extends 'base.html.twig' %}

{% block title %}Slider index{% endblock %}

{% block content %}
    <h1>Index des carrousels</h1>
<p>  <a href="{{ path('slider_new') }}">Ajouter un carrousel</a></p>
    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                 <th>Article</th>
                <th>Section</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slider in sliders %}
            <tr>
                
                <td>{{ slider.nom }}</td>
                 <td>{% if slider.section %}{{ slider.section.article.titre }}{% endif %}</td>
                <td>{% if slider.section %}{{ slider.section.titre }}{% endif %}</td>
               <td>
                    <a href="{{ path('slider_show', {'id': slider.id}) }}">{{ include('./_showicone.html.twig')}}</a>
                    <a href="{{ path('slider_edit', {'id': slider.id}) }}">{{ include('./_editicone.html.twig')}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    {{ include('./_crediticones.html.twig')}}
    
     
{% endblock %}
