{% extends 'base.html.twig' %}

{% block title %}Slider{% endblock %}

{% block body %}
    <h1>Carrousel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slider.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ slider.nom }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ slider.article }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ slider.section }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('slider_index') }}">back to list</a>

    <a href="{{ path('slider_edit', {'id': slider.id}) }}">edit</a>

    {{ include('slider/_delete_form.html.twig') }}
{% endblock %}
