{% extends 'base.html.twig' %}

{% block title %}Slider{% endblock %}

{% block content %}

    <h1>Carrousel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slider.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ slider.nom }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ slider.section.article.titre }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ slider.section.titre }}</td>
            </tr>
        </tbody>
    </table>
     <div class="container">
    {% for image in slider.images %}
   
        <figure class="slide">
            <img class="clickable" src="{{ petites_images~image.nom}}" onclick="displaySlides(src);" alt="{{image.alt}}" />
            <figcaption hidden>
            {{image.legend}}
           
            </figcaption>
             {{image.rang}}
             <a href="{{ path('image_edit', {'id': image.id}) }}">Modifier l'image</a>
       </figure>
    

    {% endfor %}
     <input type="hidden" id="param" value="{{ grandes_images }}"/>
    </div>
<p>    <a href="{{ path('slider_index') }}">Retourner à la liste</a></p>

 <p>   <a href="{{ path('slider_edit', {'id': slider.id}) }}">Modifier</a></p>
 <p>     <a href="{{ path('slider_genere', {'id': slider.id}) }}">Générer le carrousel PHP</a></p>
 <p>Important: s'il s'agit d'un nouveau carrousel, il faut regénérer la section (ou les sections) pour qu'elle l'inclue, pour une modification regénérer le carrousel suffit.</p>

    {{ include('slider/_delete_form.html.twig') }}
   
{% endblock %}
